/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2016-01-19 18:50:39 */

body.boxed{
    background-color:#eeeeee;
    background-image:none;
}
.product-info .price-box  .regular-price {
font-size:36px;
color:#012168;
font-weight:bold;
}
div#feed-container .owl-item {
width: 300px !important;
}
